/* Text */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Anton", sans-serif;
}
p {
  font-family: "Jura", sans-serif;
}

/* Navigation bar */

.customNav {
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(6, 70, 107, 0.828),
    rgba(5, 75, 12, 0.888)
  ) !important;
  background-size: cover;
  z-index: 10;
  border-bottom: solid rgb(0, 0, 0) 3px;
}
.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}

.nav-item {
  margin: 0px 15px;
}
.navbar-toggler {
  background-color: rgba(10, 100, 152, 0.828);
}

/* Navigation links */
.customNav a {
  color: #ded1d1;
  font-size: large;
  font-weight: bold;
}

.customNav a:hover {
  color: rgb(13, 43, 85);
}

/* Jumbotron */
.jumbo {
    position: relative;
    display: flex;
    align-items: center;
    height: 400px;
    background: linear-gradient(
      90deg,
      rgba(7, 91, 15, 0.787),
      rgba(10, 100, 152, 0.828)
    );
   
    text-align: center;
    padding-right: 230px !important;
    
  }
  .text {
    max-width: 82vw !important;
    color: #f5f5f5;
  }
  h1 {
    color: rgb(229, 217, 217);
  }
  .jumbo img {
    position: absolute;
  
    max-width: 13%;
    height: auto;
  
    border-radius: 50%;
    top: 50px;
    right: 20px;
  
    z-index: 12;
  }
  .jumbo {
    position: relative;
  }
  
  .jumbo img {
    position: absolute;
    z-index: 1;
  }