/* Text */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Anton", sans-serif;
}
p {
  font-family: "Jura", sans-serif;
}

/* Navigation bar */

.customNav {
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(6, 70, 107, 0.828),
    rgba(5, 75, 12, 0.888)
  ) !important;
  background-size: cover;
  z-index: 10;
  border-bottom: solid rgb(0, 0, 0) 3px;
}
.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}

.nav-item {
  margin: 0px 15px;
}
.navbar-toggler {
  background-color: rgba(10, 100, 152, 0.828);
}

/* Navigation links */
.customNav a {
  color: #ded1d1;
  font-size: large;
  font-weight: bold;
}

.customNav a:hover {
  color: rgb(13, 43, 85);
}

/* Jumbotron */
.jumbo {
    position: relative;
    display: flex;
    align-items: center;
    height: 400px;
    background: linear-gradient(
      90deg,
      rgba(7, 91, 15, 0.787),
      rgba(10, 100, 152, 0.828)
    );
   
    text-align: center;
    padding-right: 230px !important;
    
  }
  .text {
    max-width: 82vw !important;
    color: #f5f5f5;
  }
  h1 {
    color: rgb(229, 217, 217);
  }
  .jumbo img {
    position: absolute;
  
    max-width: 13%;
    height: auto;
  
    border-radius: 50%;
    top: 50px;
    right: 20px;
  
    z-index: 12;
  }
  .jumbo {
    position: relative;
  }
  
  .jumbo img {
    position: absolute;
    z-index: 1;
  }

  /* Work Section */
.cardContainer {
    margin-top: 20px;
    text-align: center;
  }
  .card {
    margin: 0 auto;
    background: linear-gradient(
      90deg,
      rgba(6, 70, 107, 0.828),
      rgba(5, 75, 12, 0.888)
    ) !important;
    color: aliceblue;
  }
  .card-img-top {
    padding: 0px;
  
    border: solid rgba(10, 100, 152, 0.828) 10px;
  
    width: 100%;
    height: 20vw;
    object-fit: cover;
  }
  .btn {
    background-color: rgba(7, 91, 15, 0.787);
  }
  /* Skils */
  #skills {
    padding-top: 30px;
    color: #e9e0e0;
    text-align: center;
  
    background: linear-gradient(
      220deg,
      rgba(7, 91, 15, 0.787),
      rgba(10, 100, 152, 0.828)
    ) !important;
    
    height: 180px;
  }

  /* About me, contact */
.contactsection {
    display: flex;
  
    height: 150px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  
  .aboutme {
    padding-top: 20px;
  
    text-align: center;
    color: #f5f5f5;
    height: 180px;
    background: linear-gradient(
      80deg,
      rgba(7, 91, 15, 0.787),
      rgba(10, 100, 152, 0.828)
    ) !important;
  }

/* Footer */
.footer {
    background-color: rgba(0, 0, 0, 0.814);
    height: 150px;
  }
  
  .icons {
    font-size: 130%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 45px;
  }
  .icons a {
    background-color: #f5f5f5;
    text-decoration: none;
  
    color: #000000;
    padding: 20px 25px;
    border-radius: 50%;
  }
  .contact-icon {
    background-color: #f5f5f5;
    text-decoration: none;
  
    color: #000000;
    padding: 20px 20px;
    border-radius: 50%;
    margin: 10px;
  }
  .contact-icon:hover {
    color: rgb(194, 11, 11);
    transition: 0.4s;
    background-color: #3863a7;
  }
  .icons a:hover {
    color: rgb(194, 11, 11);
    transition: 0.4s;
    background-color: #3863a7;
  }
  .shadow-hover {
    box-shadow: 2px 2px 1px rgba(37, 36, 36, 0.593);
    transition: box-shadow 0.3s ease;
  }
  
  .shadow-hover:hover {
    box-shadow: 10px 5px 8px rgba(43, 42, 42, 0.78);
  }
  
  @media only screen and (max-width: 700px) {
    .jumbotron h1 {
      font-size: 25px;
    }
  
    .text {
      font-size: 15px !important;
    }
  }
  @media (max-width: 700px) {
    .contactsection {
      min-height: 330px;
    }
  }
  


  